<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Snipyt</title>
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="/angular-resizable/angular-resizable.min.css" />
    <link rel="stylesheet" type="text/css" href="/materialize-css/dist/css/materialize.min.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/angular-material-expansion-panel/dist/md-expansion-panel.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/ng-img-crop/compile/minified/ng-img-crop.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/lodash/lodash.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-messages/angular-messages.js"></script>
    <script src="/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-resizable/angular-resizable.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/angular-material-expansion-panel/dist/md-expansion-panel.js"></script>
    <script type="text/javascript" src="/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script type="text/javascript" src="/js/common/angular-advanced-searchbox/angular-advanced-searchbox.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyA3_lI3ec7vmSmznIAlPpn55gLXrr90Sko",
        authDomain: "snippets-2f32c.firebaseapp.com",
        databaseURL: "https://snippets-2f32c.firebaseio.com",
        storageBucket: "snippets-2f32c.appspot.com",
    };
    firebase.initializeApp(config);
    var storage = firebase.storage();
    var storageRef = storage.ref();
    </script>
    <script src='/angularfire/dist/angularfire.min.js'></script>
    <script src="/main.js"></script>
</head>

<body ng-app="FullstackGeneratedApp" class="layout-column" layout="column" flex>
    <md-toolbar class="main-toolbar md-toolbar-tools md-whiteframe-3dp" ng-controller="ToolbarCtrl" md-theme="blue">
        <md-icon class="lnr" ng-click="toggle()"><i class="material-icons">menu</i></md-icon>
        <img class="snippetLogo" src="/files/snippetLogo.png">
        <!-- search bar -->
        <!-- <form ng-submit=""> -->
        <nit-advanced-searchbox focus-input ng-model="searchParams" parameters="availableSearchParams" placeholder="Search">
        </nit-advanced-searchbox>
        <md-icon class="search-btn" ng-click="sendSearchQuery()"><i class="material-icons">search</i></md-icon>
        <!-- </form> -->
        <profile-card is-popup-visible="isPopupVisible" toggle-off="toggleOff()" user="user"></profile-card>
    </md-toolbar>
    <div id="main" layout="row" flex>
        <!-- temperary controller -->
        <md-content class="pushing" layout="column">
            <md-sidenav sidenav-push-in class="md-sidenav-left" md-component-id="left" md-disable-backdrop="">
                <md-content layout-padding="" ng-controller="SidebarCtrl">
                    <md-list ng-cloak>
                        <md-list-item class="sidebar-item state {{item.state}}" ng-repeat="item in items" ui-sref-active="active">
                            <md-icon class="lnr"><i class="material-icons">{{item.icon}}</i></md-icon>
                            <p ui-sref="{{item.state}}">{{ item.label }}</p>
                        </md-list-item>
                        <md-list-item ng-show="user.isAdmin" class="sidebar-item state admin" ui-sref-active="active">
                            <md-icon class="lnr"><i class="material-icons">supervisor_account</i></md-icon>
                            <p ui-sref="admin">Admin</p>
                        </md-list-item>
                        <!-- <md-list-item> NOT IN USE
                            <md-icon class="lnr"><i class="material-icons">'person'</i></md-icon>
                            <p ng-click="showProfile($event)">Profile</p>
                        </md-list-item> -->
                        <md-list-item class="sidebar-item">
                            <div class="md-list-item-text">
                                <p ng-show="!user" ui-sref="login" class="btn login-button">Login</p>
                            </div>
                        </md-list-item>
                        <!-- <md-list-item class="sidebar-item">
                            <div class="md-list-item-text">
                                <p ng-show="user" ng-click="logout()" class="btn login-button">Logout</p>
                            </div>
                        </md-list-item> -->
                    </md-list>
                </md-content>
            </md-sidenav>
        </md-content>
        <md-content resize-main flex="auto" layout="column" class="md-sidenav-push-in-target pushed main-wrapper" layout-padding="">
            <ui-view resize-main></ui-view>
            <!-- <div ui-view class="ui-view-wrapper"></div> -->
        </md-content>
    </div>
</body>

</html>
