<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="/angular-resizable/angular-resizable.min.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    
    <script src="/angular/angular.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-messages/angular-messages.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-resizable/angular-resizable.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyA3_lI3ec7vmSmznIAlPpn55gLXrr90Sko",
        authDomain: "snippets-2f32c.firebaseapp.com",
        databaseURL: "https://snippets-2f32c.firebaseio.com",
        storageBucket: "snippets-2f32c.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
    <script src='/angularfire/dist/angularfire.min.js'></script>
    <script src="/main.js"></script>
</head>

<body ng-app="FullstackGeneratedApp" class="layout-column" layout="column" flex>
    <md-toolbar class="md-theme-indigo md-toolbar-tools md-whiteframe-3dp" ng-controller="ToolbarCtrl">
            <md-icon class="lnr" md-font-icon="lnr-menu" ng-click="toggle()"></md-icon>
            <h1 class="md-toolbar-tools">Snippets</h1>
    </md-toolbar>
    <div role="main" layout="row" flex>
        <!-- temperary controller -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-disable-backdrop="" md-whiteframe="4">
        <md-content layout-padding="" ng-controller="SidebarCtrl">
            <md-list ng-cloak>
                <md-list-item class="sidebar-item" ng-repeat="item in items">
                    <md-icon class="lnr" md-font-icon="lnr-{{item.icon}}"></md-icon>
                    <p ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</p>
                </md-list-item>
                <md-list-item class="sidebar-item">
                    <div class="md-list-item-text">
                        <p ng-show="!user" ui-sref="login" class="btn login-button">Login</p>
                    </div>
                </md-list-item>
                <md-list-item class="sidebar-item" ng-show="user" class="welcome">
                    <div class="md-list-item-text">
                        <span>Welcome, {{ user.email }}!</span>
                        <pre> {{user | json}}</pre>
                    </div>
                </md-list-item>
            </md-list>
            <md-button ng-click="logout()">Logout</md-button>
            <md-button layout-padding ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
        </md-content>
        </md-sidenav>
<!--         <md-toolbar layout="row" class="md-theme-indigo" ng-controller="ToolbarCtrl">

            <div class="site-content-toolbar md-toolbar-tools md-whiteframe-3dp">lorem ipsum</div>
        </md-toolbar> -->
        <md-content flex="auto" ui-view layout="column"></md-content>
    </div>
</body>

</html>
