.advancedSearchBox {
    .value {}
    input[name="value"] {
        font-size: 12px;
    }
    input[name="searchbox"] {
        color: white;
        &:focus {
            color: black;
        }
    }
    input {
        border-bottom: none !important;
        box-shadow: none !important;
    }
    .value {
        font-size: 12px
    }
    font-size: 12px;
}

#elasticsearch-btn {
    transition: none;
    background-color: transparent;
    box-shadow: none;
    position: relative;
    left: 45px;
    &:focus {
        background-color: transparent;
        box-shadow: none;
    }
    &:hover {
        background-color: transparent;
        box-shadow: none;
    }
    &:active {
        background-color: transparent;
        box-shadow: none;
    }
}
