.advancedSearchBox {
    input[name="value"] {
        font-size: 12px;
    }
    .value {
        font-size: 12px
    }
    input[name="searchbox"] {
        color: black;
    }
    input {
        border-bottom: none !important;
        box-shadow: none !important;
    }
    font-size: 12px;
}

