<div layout="row" class="dashboard-wrapper" ng-cloak>
    <div layout="column" flex style="height: 100%">
        <div ng-if="loaded" layout="row" id="dateNav">
            <a ng-click="go(currentWeekNum-1)">
                <i class="left-one material-icons">keyboard_arrow_left</i>
            </a>
            <span id="displayweek" ng-cloak>{{displayWeek}}</span>
            <a ng-if="currentWeekNum<0" ng-click="go(currentWeekNum+1)" >
                <i class="right-one material-icons">keyboard_arrow_right</i>
            </a>
        </div>
        <div layout="row" class="dashboard-ui-view-wrapper">
            <ui-view></ui-view>
        </div>
    </div>
    <!-- floating btn -->
    <div layout="column add-snippet-btn-col">
        <md-button class="md-fab add-snippet-btn blue darken-3" aria-label="add snippet" ng-click="showSnippetForm($event)">
            <md-icon><i class="material-icons">create</i></md-icon>
        </md-button>
    </div>
</div>
