<div layout="row" class="dashboard-wrapper" ng-cloak>
    <div layout="column" flex style="height: 95%">
        <div layout="row" id="dateNav">
            <div id="displayweek" ng-cloak><a ng-click="go(currentWeekNum-1)">
                <i class="left-one material-icons">keyboard_arrow_left</i>
            </a>{{displayWeek}}<a ng-if="currentWeekNum<0" ng-click="go(currentWeekNum+1)" >
                <i class="right-one material-icons">keyboard_arrow_right</i>
            </a></div>
        </div>
        <div layout="row" class="dashboard-ui-view-wrapper">
            <ui-view></ui-view>
        </div>
    </div>
    <!-- floating btn -->
</div>