.snippetImg {
    border-radius: 50%;
    width: 50px;
    margin-right: -10px;
    &:hover {
		margin-right: 3px;
		margin-left: 15px;
		transition: margin 0.2s ease;
	}
	transition: margin 0.2s ease;
    /*position: absolute;*/
}

.snippetImg:last-of-type {
    margin-right: 0px;
    margin-left: 0px;
    &:hover {
    	margin-left: 0px;
    }
}
