.snippetImg {
    margin: 2px;
}

.btn-floating {
    margin: 5px;
}

#snippetImages {
    margin: 5px;
}

.snippetImages {
    margin: 2px;
}

.img-wrap {
    position: relative;
    display: inline-block;
}

.close {
    position: absolute;
    top: 0px;
    left: -1px;
    z-index: 100;
    background-color: red;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    padding: 2px 6px 0 0;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 42px;
    color: white;
}

.close:hover {
    background-color: rgba(100, 0, 0, .7);
    opacity: 1;
}

.close.expansion {
    position: absolute;
    top: 0px;
    left: 2px;
    z-index: 100;
    background-color: red;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
}

.close.expansion:hover {
    background-color: rgba(100, 0, 0, .7);
    opacity: 1;
}

#uparrow {
    text-align: center;
    width: 100%;
    font-size: 30px;
    cursor: default;
}

.collaborator-avatar {
    border-radius: 50%;
    max-width: 40px;
    margin: auto 2px;
}

.collapsed-title {
    font-size: 20px;
    font-weight: 600;
}

#snippetTitle {
    width: 70%;
}

md-card-title {
    padding-top: 0 !important;
    md-card-title-text {
        padding-top: 0 !important;
        #contenttext {
            margin-top: 0 !important;
        }
    }
}

.btn-floating.deleteit {
    box-shadow: none;
    width: 30px;
    height: 30px;
    font-size: 6px;
    margin-top: 8px;
    padding-bottom: 5px;
    i {
        font-size: 18px;
    }
}

.btn-floating.deleteit.deleteForPanelOpen {
    position: absolute;
    top: 0;
    right: 25px;
}

// Rules for using icons as white on a dark background.
.btn-floating.sentbtn {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: none;
    margin-top: 20px;
    cursor: default;
}

.selectedForExport {
    md-expansion-panel {
        border-left: 15px yellow solid;
    }
}

.btn-floating.sentbtn.submitted {
    background: rgb(0, 204, 0)
}
