.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.org-tree-wrapper {
    align-items: flex-start;
    justify-content: center;
    margin: 30px;
    width: 100%;
}
