@import '../color';

.sidebar-item {
  cursor: pointer;
}

.lnr-menu {
    margin: 16px;
}

.md-sidenav-left {

}

.md-sidenav-push-in {
    // drawers
    .md-sidenav-push-in-target {
        transform: translate(0px);
        // same as in md-sidenav.md-closed-add.md-closed-add-active, md-sidenav.md-closed-remove.md-closed-remove-active selector
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &.md-sidenav-left-open {
        .md-sidenav-push-in-target {
            transform: translate(304px);
        }
    }
    &.md-sidenav-right-open {
        .md-sidenav-push-in-target {
            transform: translate(-304px);
        }
    }
}

md-toolbar {
    z-index: 99;
}

md-sidenav {
    background-color: $extremely-light-grey;
    *, md-content {
        background-color: $extremely-light-grey;
    }
}

.pushing {
    background-color: $extremely-light-grey;
    width: 320px;
}

.pushed {
    background-color: $extremely-light-grey;
    margin-left: -300px;
    padding-right: 20px;
    overflow: hidden;
}

ui-view {
    * {overflow: auto;}
    width: 100%;
    height: 100%;
}

lnr:focus {outline:0;}
