<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout="row" class="clearfix md-padding">
        <md-card-avatar>
            <img class="md-avatar-icon img-avatar-container md-padding" ng-src="{{user.photoUrl || 'files/default-profile.png'}}" />
        </md-card-avatar>
        <md-content layout="column" class="md-padding">
            <h3 class="md-title-small float-left">{{user.first_name}} {{user.last_name}}</h2>
            <h4 class="md-subhead-small float-left">{{user.email}}</h3>
            <md-button class="md-primary md-raised blue darken-2" ui-sref="membersOnly">Upload new picture</md-button>
        </md-content>
    </md-content>
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Company Name</label>
                        <input ng-model="userCopy.organization" disabled>
                    </md-input-container>
                    <!--      <md-datepicker ng-model="userCopy.submissionDate" md-placeholder="Enter date">
                    </md-datepicker> -->
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="userCopy.first_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="userCopy.last_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm disabled>
                        <label>Manager name</label>
                        <input ng-model="userCopy.manager_name">
                    </md-input-container>
                </div>
            </form>
        </div>
        <div layout-gt-sm="row" layout-sm="column" layout-align="center">
            <md-button flex="100" class="md-primary md-raised" ng-click="saveProfile(userCopy)">Save</md-button>
        </div>
    </md-content>
</div>
