<div layout="column" ng-cloak class="md-inline-form">
    <div class="md-toolbar-tools toolbar-profile">
        <h3 class="ng-binding">Profile page</h3>
        <span flex class="flex"></span>
    </div>
    <md-content layout="row" class="clearfix md-padding">
        <md-card-avatar>
            <img class="md-avatar-icon img-avatar-container md-padding" ng-src="{{user.photoUrl || 'files/default-profile.png'}}" />
        </md-card-avatar>
        <md-content layout="column" class="md-padding">
            <h3 class="md-title-small float-left">{{user.first_name}} {{user.last_name}}</h2>
            <h4 class="md-subhead-small float-left">{{user.email}}</h3>
            <div ng-controller="ImgUploadCtrl">
                <form name="imageUploader">
                    <md-button class="md-primary md-raised blue darken-2" ng-click="clear()" ngf-select ng-model="picFile" accept="image/*">
                        Upload New Picture</md-button>
                        <div ng-show="uploading" class="progress">
                          <div class="indeterminate"></div>
                      </div>

                    <div ng-show="picFile" ngf-drop ng-model="picFile" ngf-pattern="image/*"
                         class="cropArea">
                        <img-crop image="picFile  | ngfDataUrl"                 
                        result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                        </img-crop>
                    </div>
                    <md-button class="md-primary md-raised blue darken-2" ng-show="picFile && !result" ng-click="upload(croppedDataUrl)">Submit</md-button> 
                </form>
            </div>
        </md-content>
    </md-content>
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Company Name</label>
                        <input ng-model="userCopy.organization" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Manager name</label>
                        <input ng-model="userCopy.manager_name" disabled>
                    </md-input-container>
                    <!--      <md-datepicker ng-model="userCopy.submissionDate" md-placeholder="Enter date">
                    </md-datepicker> -->
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="userCopy.first_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="userCopy.last_name">
                    </md-input-container>
                </div>
            </form>
        </div>
        <div layout="row" layout-align="center">
            <md-button flex="100" class="md-primary md-raised float-left blue darken-1" ng-click="saveProfile(userCopy)">Save profile changes</md-button>
            <md-button flex="100" class="md-primary md-raised float-left blue darken-1" ng-click="sendPasswordReset()">Reset password</md-button>
        </div>
    </md-content>
</div>
