<div layout="column" layout-align="center">
</div>
<form layout-margin id="login-form" name="loginForm">
    <div class="demoToasty white-text blue">
        Want to demo? Try this account: </br>email: <b>Nick@nick.com</b> </br>password: <b>12345678</b>
    </div>
    <h2 class="md-headline no-bottom-margin blue-text">Login to Snipyt</h2>


    </br>

    <alert type="danger" ng-show="error" class="red-text darken-2">
        {{ error }}
    </alert>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div layout="column" class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
        <a href="" ui-sref="recovery">Reset my password</a>
        <div layout-margin layout-align="center center" layout="row">
            <button ng-click="loginForm.$valid && sendLogin(login)" class="btn btn-default blue darken-1">Login</button>
            <button ng-click="loginForm.$valid && sendSignup(login)" class="btn btn-default blue darken-1">Sign up</button>
        </div>
    </div>
</form>
<div layout="row" layout-align="space-around center" id="auth" class="col-xs-12 col-sm-6 col-md-6">
    <md-button ng-click="googleLogin()">
    <md-icon md-svg-src="/files/btn_google_light_normal_ios.svg"></md-icon>
    Sign in with Google</md-button>
</div>
