[contenteditable] {
  line-height: 1.4em; }

[contenteditable]:empty::before {
  content: attr(placeholder);
  color: #aaa;
  cursor: text; }

[contenteditable]:empty:hover::before {
  color: #bbb; }

.form-like[contenteditable] {
  border-bottom: 1px dashed #000; }
  .form-like[contenteditable]:focus {
    border-color: transparent; }
  .form-like[contenteditable][contenteditable="false"] {
    border-color: transparent; }
