.layout-padding, .layout-padding-gt-sm, .layout-padding-md, .layout-padding > *, .layout-padding-gt-sm > *, .layout-padding-md > *, .layout-padding > .flex, .layout-padding > .flex-gt-sm, .layout-padding > .flex-md {
  padding: 0px;
}

.whitey {
  color: white;
}

#fade-wrapper {
    width:100%;
    height:100%;
    background-color:black;
    position:absolute;
    left:0;
    right:0;
    overflow: auto;
}

