.splashPageContainer {
  margin: -32px -28px 0px -16px;
}

.backId{
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ccc;
  background-size: cover;
  min-height: 370px;
  background-image: url("/files/hero.jpg");
}

.heroGrayCover {
  width: 100%;
  height: 100%;
  min-height: 370px;
  background: rgba(9, 47, 77, 0.5);
}

.heroContent {
  color: white;
  float:left;
  font-weight: 200;
  text-align: center;
  width: 100%;
  height: 100%;
}

.headliner {
  font-size: 80px;
  margin-bottom: 0px;
}

.subheader {
  margin-top: 10px;
  font-size: 30px;
}

.getStarted {
  position: absolute;
  right: 15px;
  color: #26689c !important;
  text-transform: none;
  &.btn {
    padding: 0 17px;
    font-size: 18px;
  }
}

.topTitle {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}

.bottomSubtext {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.splashPadRow {
  padding: 30px 15% 0 15%;
  margin-bottom: 0px;
}

.splashPadRowCard {
  padding: 0 15% 0 15%;
  margin-bottom: 0px;
}

.splashImg {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.fullbleedy {
  background-size: cover;
  min-height: 280px;
  margin-top: 130px;
  padding: 1px 0 0 15%;
}

.fullbleedyKeinMargin {
  background-size: cover;
  min-height: 260px;
  padding: 1px 15% 0 15%;
  margin-top: 40px;
}

.macbookHero {
  max-width: 650px;
  margin-top: -130px;
  float: right;
}

.bleedyTitle {
  font-size: 50px;
  font-weight: 200;
}

.biggerPlz {
  font-size: 16px;
}

.bottomSubtext {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.techUsed {
  font-size: 30px;
  font-weight: 300;
}

.techImg {
  max-width: 85%;
  display:block;
  margin: 0 auto;
}

.teamImage {
  border-radius: 50%;
}

.cardMinHeight {
  min-height: 173px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  color: #23a9f6;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
