@import '../color';
.dashboard-wrapper {
    height: 100%;
    overflow: hidden;
}

.editing-panel-wrapper {
    // overflow-x: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    margin: 1px 10px;
}

.editing-panel {
    margin: 0px;
}

.rg-right {
    margin-right: 0px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #e6e3e3;
    background-color: $extremely-light-grey;
}

.add-snippet-btn {
    align-self: flex-end;
    :hover {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

#search-popup {
    width: 300px;
}

.report-container::-webkit-scrollbar-track {
    background-color: $extremely-light-grey;
}

.report-container::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    background-color: $extremely-light-grey;
}

.report-container::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
}

.report-container {
    .parent {
        md-card:first-of-type {
            margin-left: 0;
        }
    }
    // overflow-x: none;
    // overflow-y: hidden;
    overflow: scroll;
    margin-bottom: 5px;
}

// .report-container:hover {
//     overflow-y: scroll;
// }

.block-title {
    margin-top: 15px;
    margin-bottom: 5px;
}

snippet {
    width: 100%;
}
