<div ng-controller="ImgUploadCtrl">
    <form name="imageUploader">
        <md-button class="md-primary md-raised blue darken-2" ng-click="clear()" ngf-select ng-model="picFile" accept="image/*">
            Select Picture</md-button>
        <div ng-show="picFile" ngf-drop ng-model="picFile" ngf-pattern="image/*"
             class="cropArea">
            <img-crop image="picFile  | ngfDataUrl"                 
            result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
        </div>
<!--         <div ng-show="croppedDataUrl">
            <img ng-src="{{croppedDataUrl}}">
        </div> -->
        <md-button class="md-primary md-raised blue darken-2" ng-show="picFile && !result" ng-click="upload(croppedDataUrl)">Submit</md-button> 

        <span ng-show="result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </form>
</div>