@import 'color';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $extremely-light-grey;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.main-wrapper {
  height: 100%;
  ui-view {
    height: 100%;
  }
}

#main {
  height: 100%;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'navbar/main';
@import 'dashboard/main';
@import 'snippet/main';
@import 'submit-snippet/main';
@import 'file-upload/main';
@import 'profile/main';
@import 'searchbox/main';
@import 'angular-advanced-searchbox/main';
