@import 'color';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $extremely-light-grey;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.main-wrapper {
  height: 100%;
  ui-view {
    height: 100%;
  }
}

#main {
  height: 100%;
}

md-list-item {
    p,md-icon,i {
      background: none !important;
    }

    > a {
        margin: 0 !important;
    }
}

#toast-container {
  bottom: auto !important;
  left: auto !important;
  top: 60px;
  right:7%;
}

.display-none {
  display: none;
}

.toastCreated {
  background-color: #ef9c4f;
}

.toastCopied {
  background-color: #ef9c4f;
}

.toastDeleted {
  background-color: #ef5350;
}

.toastFail {
  background-color: #ef5350;
}

.toastAddCollab {
  background-color: #2196f3;
}

*::-webkit-scrollbar-track {
    background-color: $extremely-light-grey;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    background-color: #fefefe;
}


*::-webkit-scrollbar-thumb {
    background-color: $extremely-light-grey;
    opacity: .8;
}

#nav-label {
  &:hover {
    background: none;
  }
}


ui-view { -webkit-transition: none !important; transition: none !important; }


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'navbar/main';
@import 'dashboard/main';
@import 'snippet/main';
@import 'submit-snippet/main';
@import 'file-upload/main';
@import 'profile/main';
@import 'angular-advanced-searchbox/main';
@import 'splashPage/main';
@import 'recovery/main';
@import 'org-tree/main';
