@import 'color';

* {
  box-sizing: border-box;
}

body {
  background-color: $extremely-light-grey;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.lnr:focus {
  outline: none;
}

.lnr {
  i {
    cursor: pointer;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'dashboard/main';
