<div layout="column" ng-cloak class="md-inline-form">
    <div class="md-toolbar-tools toolbar-profile">
        <h3 class="ng-binding">Profile - Admin Access</h3>
        <span flex class="flex"></span>
        <md-button ng-show="!userCopy.deletedUser" class="profile-button md-primary md-raised red darken-2 " ng-click="deleteUserWithWarning($event)"><i class="material-icons delete-user-icon">loop</i>Deactivate User</md-button>
        <md-button ng-show="userCopy.deletedUser" class="activate-user-button-fix profile-button md-primary md-raised green darken-2" ng-click="activateUser()"><i class="material-icons delete-user-icon">loop</i>Reactivate User</md-button>
    </div>
    <md-content layout="row" class="clearfix md-padding">
        <md-card-avatar>
            <img class="md-avatar-icon img-avatar-container md-padding" ng-src="{{userCopy.photoUrl || 'files/default-profile.png'}}" />
        </md-card-avatar>
        <md-content layout="column" class="md-padding">
            <h2 class="md-title-small float-left">{{userCopy.first_name}} {{userCopy.last_name}}</h2>
            <h3 ng-show="userCopy.deletedUser" class="md-title-small float-left deleted-user-warning"> (deactivated user)</h3>
            <h4 class="md-subhead-small float-left">{{userCopy.email}}</h4>
            <div ng-controller="ImgUploadCtrl">
                <form name="imageUploader">
                    <md-button class="md-primary md-raised blue darken-2" ng-click="clear()" ngf-select ng-model="picFile" accept="image/*">
                        Upload New Picture</md-button>
                    <div ng-show="uploading" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div ng-show="picFile" ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                        <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                        </img-crop>
                    </div>
                    <md-button class="md-primary md-raised blue darken-2" ng-show="picFile && !result" ng-click="upload(croppedDataUrl)">Submit</md-button>
                </form>
            </div>
        </md-content>
    </md-content>
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout="row" layout-align="start center">
                    <md-switch id="admin-switch" class="md-primary" ng-model="userCopy.isAdmin"></md-switch>
                    <span> Admin user: {{ userCopy.isAdmin }} </span>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Company Name</label>
                        <input ng-disabled="userCopy.deletedUser" ng-model="userCopy.organization">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Manager name</label>
                        <input ng-disabled="userCopy.deletedUser" ng-model="userCopy.manager_name">
                    </md-input-container>
                    <!--      <md-datepicker ng-model="userCopy.submissionDate" md-placeholder="Enter date">
                    </md-datepicker> -->
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-disabled="userCopy.deletedUser" ng-model="userCopy.first_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-disabled="userCopy.deletedUser" ng-model="userCopy.last_name">
                    </md-input-container>
                </div>
            </form>
        </div>
        <div layout="row" layout-align="center">
            <md-button flex="90" class="md-primary md-raised float-left blue darken-1" ng-click="saveProfile(userCopy)">Save changes</md-button>
            <md-button flex="90" class="md-primary md-raised float-left blue darken-1" ng-click="sendPasswordReset()">Reset password</md-button>
        </div>
    </md-content>
</div>
