#profile-card {
  right: 15px;
  top: 45px;
  position: absolute;
  min-height: 100px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);

}

.toolbar-profile{
  background-color: darkgray;
  color: white;
}

#edit-profile-button {
	margin-right: 15px;
}

.img-avatar-container{
	max-height: 100px; 
}

.md-title-small{
	font-size: 18px;
	font-weight: 500;
}

.md-subhead-small{
	font-size: 14px;
}

.no-side-margin {
  margin: 4px 0px;
}

.float-left{
	float:left;
	margin: 2px;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
